@import url("./additional-colors.css");
@import url("./additional-animations.css");
@import url("./marquee.css");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.text-balance {
    text-wrap: balance;
}

.fs-base {
    font-size: 1rem;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-inter-tight {
    font-family: "Inter Tight", "Inter", sans-serif;
}

.font-radio-canada {
    font-family: "Radio Canada Big", "Inter", sans-serif;
}

.line-clamp-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.line-clamp-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-small {
    font-size: 13px !important;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

img[alt="programming img"] {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 1em;
}

.tier-list {
    display: flex;
}

.tier-list-container {
    max-height: 600px;
}

.tier-list span {
    padding: 0.5em;
    background: #111;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.tier-list.s {
    background: darkred;
}

.tier-list.s span {
    background: red;
}

.tier-list.a {
    background: #d38600;
}

.tier-list.a span {
    background: orange;
}

.tier-list.b {
    background: #b6b900;
}

.tier-list.b span {
    background: #d7db02;
}

.tier-list.c {
    background: darkgreen;
}

.tier-list.c span {
    background: green;
}

.tier-list.d {
    background: darkcyan;
}

.tier-list.d span {
    background: cyan;
}

.tier-list.e {
    background: darkviolet;
}

.tier-list.e span {
    background: violet;
}

.tier-list.f {
    background: darkmagenta;
}

.tier-list.f span {
    background: magenta;
}

.draggable-element {
    min-width: 200px;
    max-width: 300px;
    height: 125px;
    display: block;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        min-width: 165px;
        max-width: 100%;
    }
}

#draggable-elements-container,
.max-h-350 {
    height: 350px;
}

.min-vh-80 {
    min-height: 80vh;
}

.text {
    font-size: 1rem;
}

.btn-close {
    border: none !important;
    box-shadow: none !important;
}

.fs-42 {
    font-size: 28px;

    @media (min-width: 576px) {
        font-size: 32px;
    }

    @media (min-width: 768px) {
        font-size: 36px;
    }

    @media (min-width: 992px) {
        font-size: 42px;
    }
}

.fs-48 {
    font-size: 32px; /* mobile first */

    @media (min-width: 576px) {
        font-size: 36px;
    }

    @media (min-width: 768px) {
        font-size: 42px;
    }

    @media (min-width: 992px) {
        font-size: 48px;
    }
}

.max-w-600 {
    max-width: 700px !important;
}

.max-w-800 {
    max-width: 800px !important;
}

.min-h-screen {
    min-height: 100vh;
}
